<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROCKETS!</title>
</head>
<body>
    <h1>ROCKETS!</h1>

    <div class="createRockets">
        <button id="createRocket1">Create Rocket 1</button>
        <button id="createRocket2">Create Rocket 2</button>
    </div>

    <div class="accelerateRockets">
        <button id="accelerateRocket1">Accelerate Rocket 1</button>
        <button id="accelerateRocket2">Accelerate Rocket 2</button>
        <button id="brakeRocket1">Brake Rocket 1</button>
        <button id="brakeRocket2">Brake Rocket 2</button>
    </div>

    <div class="printRockets">
        <button id="printRocket1">Print Rocket 1 info</button>
        <button id="printRocket2">Print Rocket 2 info</button>
        <button id="printAll">Print all Rockets</button>
    </div>

    <div class="showRocket"></div>
    <div class="showRocket"></div>

    <script src="../models/rocket.js"></script>
    <script src="../controllers/controllers.js"></script>
</body>
</html>